body > img {
  position: absolute;
}
body p {
  margin: 0;
}
.wrapper {
  position: absolute;
  width: 750px;
  height: 1334px;
  background-image: url(../images/ios10_background.jpg);
  background-size: 750px 1334px;
  font-family: "SFNS Display", "Helvetica Neue", sans-serif;
}
.wrapper * {
  box-sizing: border-box;
}
section.top-bar {
  height: 40px;
  padding: 5px 10px;
}
section.top-bar .signal {
  float: left;
  padding: 6px 2px;
}
section.top-bar .signal .circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
}
section.top-bar .signal .circle.empty {
  background-color: transparent;
}
section.top-bar .wifi {
  float: left;
  width: 36px;
  height: 100%;
  margin-left: 2px;
}
section.top-bar .wifi .circle {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top: 3px solid white;
}
section.top-bar .wifi .circle:nth-child(1) {
  margin-top: 6px;
  width: 36px;
  height: 36px;
}
section.top-bar .wifi .circle:nth-child(2) {
  margin-top: 12px;
  margin-left: 6px;
  width: 24px;
  height: 24px;
}
section.top-bar .wifi .circle:nth-child(3) {
  margin-top: 18px;
  margin-left: 12px;
  width: 12px;
  height: 12px;
  border: 6px solid transparent;
  border-top: 6px solid white;
}
section.top-bar .wifi .circle:nth-child(3)::after {
  clear: both;
}
section.top-bar .time {
  position: absolute;
  width: 100%;
  left: 0;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
section.top-bar .battery-percent {
  float: right;
  margin-right: 5px;
  font-size: 1.6rem;
  color: white;
}
section.top-bar .battery {
  float: right;
  width: 51px;
  height: 100%;
}
section.top-bar .battery .rect {
  display: block;
  width: 41px;
  height: 15px;
  margin-top: 8px;
  margin-left: 3px;
  border-radius: 1px;
  background-color: white;
}
section.top-bar .battery .rect::before,
section.top-bar .battery .rect::after {
  content: '';
  display: block;
  position: absolute;
}
section.top-bar .battery .rect::before {
  width: 43px;
  height: 17px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 3px;
  border: 1px solid white;
}
section.top-bar .battery .rect::after {
  width: 3px;
  height: 7px;
  margin-top: 4px;
  margin-left: 44px;
  border-radius: 0 12px 12px 0;
  background-color: white;
}
section.icon-wrapper {
  width: 644px;
  height: 1042px;
  margin: 16px auto;
}
section.icon-wrapper .icon {
  position: relative;
  float: left;
  width: 120px;
  height: 160px;
  margin-right: 54px;
  margin-bottom: 16px;
}
section.icon-wrapper .icon:nth-child(4n) {
  margin-right: 0;
}
section.icon-wrapper .icon p {
  letter-spacing: .0625rem;
  text-align: center;
  text-transform: capitalize;
}
section.icon-wrapper .icon > p {
  font-size: 1.5rem;
  margin-top: 9px;
  color: white;
}
section.icon-wrapper .icon div[class^="icon-"] {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 22%;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}
section.icon-wrapper .icon .icon-messages {
  padding: 17% 13% 22% 13%;
  background: linear-gradient(to bottom, #73f98a, #27b137);
}
section.icon-wrapper .icon .icon-messages i.circle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
}
section.icon-wrapper .icon .icon-messages i.circle::before {
  content: '';
  display: block;
  position: absolute;
  width: 29%;
  height: 33%;
  left: 4%;
  top: 49.6%;
  border-radius: 50%;
  border-right: 11px solid white;
  transform: rotateZ(10deg);
}
section.icon-wrapper .icon .icon-calendar {
  background-color: white;
}
section.icon-wrapper .icon .icon-calendar p:first-child {
  margin-top: 12.5%;
  font-size: 1.15rem;
  color: #f93f49;
  letter-spacing: 0.01875rem;
  text-indent: 0.125rem;
  line-height: 1.35rem;
}
section.icon-wrapper .icon .icon-calendar p:last-child {
  margin-top: -5.4%;
  font-size: 5rem;
  line-height: 1em;
  letter-spacing: 0;
  color: #1b1b1b;
  font-weight: lighter;
}
section.icon-wrapper .icon .icon-photos {
  background-color: white;
}
section.icon-wrapper .icon .icon-photos .ellipse {
  position: absolute;
  display: block;
  width: 26.7%;
  height: 41.5%;
  margin-left: 36.7%;
  margin-top: 6.2%;
  border-radius: 100px;
  transform-origin: 50% 105%;
  mix-blend-mode: multiply;
}
section.icon-wrapper .icon .icon-photos .ellipse:nth-child(1) {
  transform: rotateZ(0deg);
  background: linear-gradient(to bottom, #f59438, #fbbe3d);
}
section.icon-wrapper .icon .icon-photos .ellipse:nth-child(2) {
  transform: rotateZ(45deg);
  background: linear-gradient(to bottom, #f7e23c, #e2de44);
}
section.icon-wrapper .icon .icon-photos .ellipse:nth-child(3) {
  transform: rotateZ(90deg);
  background: linear-gradient(to bottom, #c6d851, #9acc6b);
}
section.icon-wrapper .icon .icon-photos .ellipse:nth-child(4) {
  transform: rotateZ(135deg);
  background: linear-gradient(to bottom, #6ec192, #70bdbd);
}
section.icon-wrapper .icon .icon-photos .ellipse:nth-child(5) {
  transform: rotateZ(180deg);
  background: linear-gradient(to bottom, #6eb8e2, #87a4d1);
}
section.icon-wrapper .icon .icon-photos .ellipse:nth-child(6) {
  transform: rotateZ(225deg);
  background: linear-gradient(to bottom, #9e8fc1, #b38ebe);
}
section.icon-wrapper .icon .icon-photos .ellipse:nth-child(7) {
  transform: rotateZ(270deg);
  background: linear-gradient(to bottom, #cd8cba, #dd758e);
}
section.icon-wrapper .icon .icon-photos .ellipse:nth-child(8) {
  transform: rotateZ(315deg);
  background: linear-gradient(to bottom, #f06b68, #f1805a);
}
section.icon-wrapper .icon .icon-camera {
  background: linear-gradient(to bottom, #f7f6f8, #8a8c91);
}
section.icon-wrapper .icon .icon-camera .top {
  width: 70.2%;
  height: 5.1%;
  margin: 27.3% auto .9% auto;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(to bottom, #444, #404040);
}
section.icon-wrapper .icon .icon-camera .top::before {
  content: '';
  display: block;
  position: absolute;
  width: 5.8%;
  height: 2.5%;
  margin-top: -3.4%;
  margin-left: 6.6%;
  border-radius: 2px 2px 0 0;
  background: linear-gradient(to bottom, #383838, #3f3f3f);
  z-index: 2;
}
section.icon-wrapper .icon .icon-camera .top .head {
  position: absolute;
  width: 29%;
  height: 8.4%;
  margin-top: -8.3%;
  margin-left: 20.5%;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(to bottom, #414141, #444);
}
section.icon-wrapper .icon .icon-camera .top .head i[class$='-corner'] {
  display: block;
  position: absolute;
  width: 19%;
  height: 52.5%;
  margin-top: 14%;
  background: linear-gradient(to bottom, #434343, #444);
}
section.icon-wrapper .icon .icon-camera .top .head i[class$='-corner']::before {
  content: '';
  display: block;
  position: absolute;
  width: 249%;
  height: 275%;
  margin-top: -140.5%;
  border-radius: 50%;
  background: linear-gradient(to bottom, #e5e5e7, #dadadc);
}
section.icon-wrapper .icon .icon-camera .top .head .left-corner {
  margin-left: -17%;
}
section.icon-wrapper .icon .icon-camera .top .head .left-corner::before {
  margin-left: -148%;
}
section.icon-wrapper .icon .icon-camera .top .head .right-corner {
  margin-left: 98%;
}
section.icon-wrapper .icon .icon-camera .top .head .right-corner::before {
  margin-left: -4%;
}
section.icon-wrapper .icon .icon-camera .mid {
  width: 70.2%;
  height: 36.6%;
  margin: 0 auto;
  background: linear-gradient(to bottom, #3e3e3e, #2c2c2c);
}
section.icon-wrapper .icon .icon-camera .mid .circle {
  display: block;
  position: absolute;
  width: 30.1%;
  height: 30.3%;
  margin-left: 20%;
  margin-top: 3.2%;
  border-radius: 50%;
  background: linear-gradient(to bottom, #ceced1, #afb0b4);
}
section.icon-wrapper .icon .icon-camera .mid .circle::before {
  content: '';
  display: block;
  position: absolute;
  width: 83%;
  height: 83%;
  margin-left: 8.6%;
  margin-top: 8.1%;
  border-radius: 50%;
  background: linear-gradient(to bottom, #3b3b3b, #2f2f2f);
}
section.icon-wrapper .icon .icon-camera .mid .circle::after {
  content: '';
  display: block;
  position: absolute;
  width: 11%;
  height: 11%;
  margin-left: 97%;
  margin-top: 0.3%;
  border-radius: 50%;
  background-color: #fec638;
}
section.icon-wrapper .icon .icon-camera .bottom {
  width: 70.2%;
  height: 5%;
  margin: .9% auto;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(to bottom, #2c2c2c, #272726);
}
section.icon-wrapper .icon .icon-notes .top {
  width: 100%;
  height: 31.1%;
  background: linear-gradient(to bottom, #fcdc6a, #fccb42);
  border-bottom: 1px solid #bababa;
}
section.icon-wrapper .icon .icon-notes .bottom {
  width: 100%;
  height: 68.9%;
}
section.icon-wrapper .icon .icon-notes .bottom .line {
  width: 100%;
  height: 27.5%;
  font-size: 0;
  border-bottom: 1px solid #bababa;
  background-color: #ededed;
}
section.icon-wrapper .icon .icon-notes .bottom .line:first-child {
  box-shadow: inset 0 3px 3px -2px #a2a2a2;
}
section.icon-wrapper .icon .icon-notes .bottom .line:first-child .circle {
  display: inline-block;
  width: 1.7%;
  height: 9.26%;
  margin-left: 1.63%;
  margin-top: 5.2%;
  border-radius: 50%;
  box-shadow: inset -1px 2px 5px 1px #5d5d5d;
}
section.icon-wrapper .icon .icon-notes .bottom .line:first-child .circle:first-child {
  margin-left: 1.2%;
}
section.icon-wrapper .icon .icon-notes .bottom .line:last-child {
  height: 17.5%;
  border-bottom: none;
}
section.icon-wrapper .icon div.icon-maps {
  background: url(../images/icons/Maps.svg);
  border-radius: 0;
}
