@font-face {
  font-family: SanFranciscoDisplay-Ultralight;
  src: url("https://cdn.rawgit.com/AppleDesignResources/SanFranciscoFont/master/SanFranciscoDisplay-Ultralight.otf") format("opentype");
}

@font-face {
  font-family: SanFranciscoDisplay-Regular;
  src: url("https://cdn.rawgit.com/AppleDesignResources/SanFranciscoFont/master/SanFranciscoDisplay-Regular.otf") format("opentype");
}

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}

p {
  margin: 0;
}

.wrapper {
  position: absolute;
  width: 750px;
  height: 1334px;
  background-image: url(../images/ios10_background.jpg);
  background-size: 750px 1334px;

  font-family: "SanFranciscoDisplay-Regular", "Helvetica Neue", sans-serif;
  * {
    box-sizing: border-box;
  }
}

section.top-bar {
  height: 40px;
  padding: 5px 10px;

  .signal {
    float: left;
    padding: 6px 2px;
    .circle {
      display: inline-block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: white;
      border: 1px solid white;
      &.empty {
        background-color: transparent;
      }
    }
  }

  .wifi {
    float: left;
    width: 36px;
    height: 100%;
    margin-left: 2px;
    .circle {
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top: 3px solid white;
    }
    .circle:nth-child(1) {
      margin-top: 6px;
      width: 36px;
      height: 36px;
    }
    .circle:nth-child(2) {
      margin-top: 12px;
      margin-left: 6px;
      width: 24px;
      height: 24px;
    }
    .circle:nth-child(3) {
      margin-top: 18px;
      margin-left: 12px;
      width: 12px;
      height: 12px;
      border: 6px solid transparent;
      border-top: 6px solid white;
      &::after {
        clear: both;
      }
    }
  }

  .time {
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }

  .battery-percent {
    float: right;
    margin-right: 5px;
    font-size: 1.6rem;
    color: white;
  }
  .battery {
    float: right;
    width: 51px;
    height: 100%;
    .rect {
      display: block;
      width: 41px;
      height: 15px;
      margin-top: 8px;
      margin-left: 3px;
      border-radius: 1px;
      background-color: white;
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
      }
      &::before {
        width: 43px;
        height: 17px;
        margin-top: -2px;
        margin-left: -2px;
        border-radius: 3px;
        border: 1px solid white;
      }
      &::after {
        width: 3px;
        height: 7px;
        margin-top: 4px;
        margin-left: 44px;
        border-radius: 0 12px 12px 0;
        background-color: white;
      }
    }
  }
}

section.icon-wrapper {
  width: 644px;
  height: 1042px;
  margin: 16px auto;
  .icon {
    position: relative;
    float: left;
    width: 120px;
    height: 160px;
    margin-right: 54px;
    margin-bottom: 16px;
    &:nth-child(4n) {
      margin-right: 0;
    }
    p {
      letter-spacing: .0625rem;
      text-align: center;
      text-transform: capitalize;
    }
    & > p {
      font-size: 1.5rem;
      margin-top: 9px;
      color: white;
    }
    div[class^="icon-"] {
      width: 120px;
      height: 120px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

section.icon-wrapper div.icon {
  .icon-messages {
    background-image: url(../images/icon/Messages.svg);
  }
  .icon-calendar {
    background-image: url(../images/icon/Calendar.svg);
  }
  .icon-photos {
    background-image: url(../images/icon/Photos.svg);
  }
  .icon-camera {
    background-image: url(../images/icon/Camera.svg);
  }
  .icon-notes {
    background-image: url(../images/icon/Notes.svg);
  }
  .icon-maps {
    background-image: url(../images/icon/Maps.svg);
  }
  .icon-weather {
    background-image: url(../images/icon/Weather.svg);
  }
  .icon-videos {
    background-image: url(../images/icon/Videos.svg);
  }
  .icon-clock {
    background-image: url(../images/icon/Clock.svg);
  }
  .icon-news {
    background-image: url(../images/icon/News.svg);
  }
}

