body {
  & > img {
    position: absolute;
  }
  p {
    margin: 0;
  }
}

.wrapper {
  position: absolute;
  width: 750px;
  height: 1334px;
  background-image: url(../images/ios10_background.jpg);
  background-size: 750px 1334px;
  font-family: "SFNS Display", "Helvetica Neue", sans-serif;
  * {
    box-sizing: border-box;
  }
}

section.top-bar {
  height: 40px;
  padding: 5px 10px;

  .signal {
    float: left;
    padding: 6px 2px;
    .circle {
      display: inline-block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: white;
      border: 1px solid white;
      &.empty {
        background-color: transparent;
      }
    }
  }

  .wifi {
    float: left;
    width: 36px;
    height: 100%;
    margin-left: 2px;
    .circle {
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top: 3px solid white;
    }
    .circle:nth-child(1) {
      margin-top: 6px;
      width: 36px;
      height: 36px;
    }
    .circle:nth-child(2) {
      margin-top: 12px;
      margin-left: 6px;
      width: 24px;
      height: 24px;
    }
    .circle:nth-child(3) {
      margin-top: 18px;
      margin-left: 12px;
      width: 12px;
      height: 12px;
      border: 6px solid transparent;
      border-top: 6px solid white;
      &::after {
        clear: both;
      }
    }
  }

  .time {
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }

  .battery-percent {
    float: right;
    margin-right: 5px;
    font-size: 1.6rem;
    color: white;
  }
  .battery {
    float: right;
    width: 51px;
    height: 100%;
    .rect {
      display: block;
      width: 41px;
      height: 15px;
      margin-top: 8px;
      margin-left: 3px;
      border-radius: 1px;
      background-color: white;
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
      }
      &::before {
        width: 43px;
        height: 17px;
        margin-top: -2px;
        margin-left: -2px;
        border-radius: 3px;
        border: 1px solid white;
      }
      &::after {
        width: 3px;
        height: 7px;
        margin-top: 4px;
        margin-left: 44px;
        border-radius: 0 12px 12px 0;
        background-color: white;
      }
    }
  }
}

section.icon-wrapper {
  width: 644px;
  height: 1042px;
  margin: 16px auto;
  .icon {
    position: relative;
    float: left;
    width: 120px;
    height: 160px;
    margin-right: 54px;
    margin-bottom: 16px;
    &:nth-child(4n) {
      margin-right: 0;
    }
    p {
      letter-spacing: .0625rem;
      text-align: center;
      text-transform: capitalize;
    }
    & > p {
      font-size: 1.5rem;
      margin-top: 9px;
      color: white;
    }
    div[class^="icon-"] {
      width: 120px;
      height: 120px;

      position: relative;
      border-radius: 22%;
      overflow: hidden;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

section.icon-wrapper .icon {
  div.icon-messages {
    background: url(../images/icon/Message.svg);
    border-radius: 0;
  }

  .icon-calendar {
    background-color: white;

    p:first-child {
      margin-top: 12.5%;
      font-size: 1.15rem;
      color: #f93f49;
      letter-spacing: 0.01875rem;
      text-indent: 0.125rem;
      line-height: 1.35rem;
    }

    p:last-child {
      margin-top: -5.4%;
      font-size: 5rem;
      line-height: 1em;
      letter-spacing: 0;
      color: #1b1b1b;
      font-weight: lighter;
    }
  }

  .icon-photos {
    background-color: white;
    .ellipse {
      position: absolute;
      display: block;
      width: 26.7%;
      height: 41.5%;
      margin-left: 36.7%;
      margin-top: 6.2%;
      border-radius: 100px;
      transform-origin: 50% 105%;
      mix-blend-mode: multiply;
    }

    .ellipseWhite(@counter) when (@counter <= 8) {
      .mixin (@counter) when (@counter = 1) {
        background: linear-gradient(to bottom, #f59438, #fbbe3d);
      }
      .mixin (@counter) when (@counter = 2) {
        background: linear-gradient(to bottom, #f7e23c, #e2de44);
      }
      .mixin (@counter) when (@counter = 3) {
        background: linear-gradient(to bottom, #c6d851, #9acc6b);
      }
      .mixin (@counter) when (@counter = 4) {
        background: linear-gradient(to bottom, #6ec192, #70bdbd);
      }
      .mixin (@counter) when (@counter = 5) {
        background: linear-gradient(to bottom, #6eb8e2, #87a4d1);
      }
      .mixin (@counter) when (@counter = 6) {
        background: linear-gradient(to bottom, #9e8fc1, #b38ebe);
      }
      .mixin (@counter) when (@counter = 7) {
        background: linear-gradient(to bottom, #cd8cba, #dd758e);
      }
      .mixin (@counter) when (@counter = 8) {
        background: linear-gradient(to bottom, #f06b68, #f1805a);
      }

      .ellipse:nth-child(@{counter}) {
        transform: rotateZ(45deg * (@counter - 1));
        .mixin(@counter);
      }
      .ellipseWhite((@counter + 1));
    }

    .ellipseWhite(1);
  }

  .icon-camera {
    background: linear-gradient(to bottom, #f7f6f8, #8a8c91);
    .top {
      width: 70.2%;
      height: 5.1%;
      margin: 27.3% auto .9% auto;
      border-radius: 5px 5px 0 0;
      background: linear-gradient(to bottom, #444, #404040);
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 5.8%;
        height: 2.5%;
        margin-top: -3.4%;
        margin-left: 6.6%;
        border-radius: 2px 2px 0 0;
        background: linear-gradient(to bottom, #383838, #3f3f3f);
        z-index: 2;
      }
      .head {
        position: absolute;
        width: 29%;
        height: 8.4%;
        margin-top: -8.3%;
        margin-left: 20.5%;
        border-radius: 8px 8px 0 0;
        background: linear-gradient(to bottom, #414141, #444);
        i[class$='-corner'] {
          display: block;
          position: absolute;
          width: 19%;
          height: 52.5%;
          margin-top: 14%;
          background: linear-gradient(to bottom, #434343, #444);
          &::before {
            content: '';
            display: block;
            position: absolute;
            width: 249%;
            height: 275%;
            margin-top: -140.5%;
            border-radius: 50%;
            background: linear-gradient(to bottom, #e5e5e7, #dadadc);
          }
        }
        .left-corner {
          margin-left: -17%;
          &::before {
            margin-left: -148%;
          }
        }
        .right-corner {
          margin-left: 98%;
          &::before {
            margin-left: -4%;
          }
        }
      }
    }
    .mid {
      width: 70.2%;
      height: 36.6%;
      margin: 0 auto;
      background: linear-gradient(to bottom, #3e3e3e, #2c2c2c);
      .circle {
        display: block;
        position: absolute;
        width: 30.1%;
        height: 30.3%;
        margin-left: 20%;
        margin-top: 3.2%;
        border-radius: 50%;
        background: linear-gradient(to bottom, #ceced1, #afb0b4);
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 83%;
          height: 83%;
          margin-left: 8.6%;
          margin-top: 8.1%;
          border-radius: 50%;
          background: linear-gradient(to bottom, #3b3b3b, #2f2f2f);
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 11%;
          height: 11%;
          margin-left: 97%;
          margin-top: 0.3%;
          border-radius: 50%;
          background-color: #fec638;
        }
      }
    }
    .bottom {
      width: 70.2%;
      height: 5%;
      margin: .9% auto;
      border-radius: 0 0 5px 5px;
      background: linear-gradient(to bottom, #2c2c2c, #272726);
    }
  }
  .icon-notes {
    .top {
      width: 100%;
      height: 31.1%;
      background: linear-gradient(to bottom, #fcdc6a, #fccb42);
      border-bottom: 1px solid #bababa;
    }
    .bottom {
      width: 100%;
      height: 68.9%;
      .line {
        width: 100%;
        height: 27.5%;
        font-size: 0; // hack for inline-block has width
        border-bottom: 1px solid #bababa;
        background-color: #ededed;
        &:first-child {
          box-shadow: inset 0 3px 3px -2px #a2a2a2;
          .circle {
            display: inline-block;
            width: 1.7%;
            height: 9.26%;
            margin-left: 1.63%;
            margin-top: 5.2%;
            border-radius: 50%;
            box-shadow: inset -1px 2px 5px 1px #5d5d5d;
            &:first-child {
              margin-left: 1.2%;
            }
          }
        }
        &:last-child {
          height: 17.5%;
          border-bottom: none;
        }
      }
    }
  }

  div.icon-maps {
    background: url(../images/icon/Maps.svg);
    border-radius: 0;
  }
}

