@font-face {
  font-family: SanFranciscoDisplay-Ultralight;
  src: url("https://cdn.rawgit.com/AppleDesignResources/SanFranciscoFont/master/SanFranciscoDisplay-Ultralight.otf") format("opentype");
}
@font-face {
  font-family: SanFranciscoDisplay-Regular;
  src: url("https://cdn.rawgit.com/AppleDesignResources/SanFranciscoFont/master/SanFranciscoDisplay-Regular.otf") format("opentype");
}
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}
p {
  margin: 0;
}
.wrapper {
  position: absolute;
  width: 750px;
  height: 1334px;
  background-image: url(../images/ios10_background.jpg);
  background-size: 750px 1334px;
  font-family: "SanFranciscoDisplay-Regular", "Helvetica Neue", sans-serif;
}
.wrapper * {
  box-sizing: border-box;
}
section.top-bar {
  height: 40px;
  padding: 5px 10px;
}
section.top-bar .signal {
  float: left;
  padding: 6px 2px;
}
section.top-bar .signal .circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
}
section.top-bar .signal .circle.empty {
  background-color: transparent;
}
section.top-bar .wifi {
  float: left;
  width: 36px;
  height: 100%;
  margin-left: 2px;
}
section.top-bar .wifi .circle {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top: 3px solid white;
}
section.top-bar .wifi .circle:nth-child(1) {
  margin-top: 6px;
  width: 36px;
  height: 36px;
}
section.top-bar .wifi .circle:nth-child(2) {
  margin-top: 12px;
  margin-left: 6px;
  width: 24px;
  height: 24px;
}
section.top-bar .wifi .circle:nth-child(3) {
  margin-top: 18px;
  margin-left: 12px;
  width: 12px;
  height: 12px;
  border: 6px solid transparent;
  border-top: 6px solid white;
}
section.top-bar .wifi .circle:nth-child(3)::after {
  clear: both;
}
section.top-bar .time {
  position: absolute;
  width: 100%;
  left: 0;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
section.top-bar .battery-percent {
  float: right;
  margin-right: 5px;
  font-size: 1.6rem;
  color: white;
}
section.top-bar .battery {
  float: right;
  width: 51px;
  height: 100%;
}
section.top-bar .battery .rect {
  display: block;
  width: 41px;
  height: 15px;
  margin-top: 8px;
  margin-left: 3px;
  border-radius: 1px;
  background-color: white;
}
section.top-bar .battery .rect::before,
section.top-bar .battery .rect::after {
  content: '';
  display: block;
  position: absolute;
}
section.top-bar .battery .rect::before {
  width: 43px;
  height: 17px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 3px;
  border: 1px solid white;
}
section.top-bar .battery .rect::after {
  width: 3px;
  height: 7px;
  margin-top: 4px;
  margin-left: 44px;
  border-radius: 0 12px 12px 0;
  background-color: white;
}
section.icon-wrapper {
  width: 644px;
  height: 1042px;
  margin: 16px auto;
}
section.icon-wrapper .icon {
  position: relative;
  float: left;
  width: 120px;
  height: 160px;
  margin-right: 54px;
  margin-bottom: 16px;
}
section.icon-wrapper .icon:nth-child(4n) {
  margin-right: 0;
}
section.icon-wrapper .icon p {
  width: 160px;
  margin-top: 9px;
  margin-left: -20px;
  font-size: 1.5rem;
  color: white;
  letter-spacing: .0625rem;
  text-align: center;
  text-transform: capitalize;
}
section.icon-wrapper .icon p.no-capitalize {
  text-transform: none;
}
section.icon-wrapper .icon div[class^="icon-"] {
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
}
section.icon-wrapper div.icon .icon-messages {
  background-image: url(../images/icon/Messages.svg);
}
section.icon-wrapper div.icon .icon-calendar {
  background-image: url(../images/icon/Calendar.svg);
}
section.icon-wrapper div.icon .icon-photos {
  background-image: url(../images/icon/Photos.svg);
}
section.icon-wrapper div.icon .icon-camera {
  background-image: url(../images/icon/Camera.svg);
}
section.icon-wrapper div.icon .icon-notes {
  background-image: url(../images/icon/Notes.svg);
}
section.icon-wrapper div.icon .icon-maps {
  background-image: url(../images/icon/Maps.svg);
}
section.icon-wrapper div.icon .icon-weather {
  background-image: url(../images/icon/Weather.svg);
}
section.icon-wrapper div.icon .icon-videos {
  background-image: url(../images/icon/Videos.svg);
}
section.icon-wrapper div.icon .icon-clock {
  background-image: url(../images/icon/Clock.svg);
}
section.icon-wrapper div.icon .icon-news {
  background-image: url(../images/icon/News.svg);
}
section.icon-wrapper div.icon .icon-wallet {
  background-image: url(../images/icon/Wallet.svg);
}
section.icon-wrapper div.icon .icon-reminders {
  background-image: url(../images/icon/Reminders.svg);
}
section.icon-wrapper div.icon .icon-stocks {
  background-image: url(../images/icon/Stocks.svg);
}
section.icon-wrapper div.icon .icon-ibooks {
  background-image: url(../images/icon/iBooks.svg);
}
section.icon-wrapper div.icon .icon-itunes-store {
  background-image: url(../images/icon/iTunesStore.svg);
}
section.icon-wrapper div.icon .icon-app-store {
  background-image: url(../images/icon/AppStore.svg);
}
section.icon-wrapper div.icon .icon-home {
  background-image: url(../images/icon/Home.svg);
}
section.icon-wrapper div.icon .icon-health {
  background-image: url(../images/icon/Health.svg);
}
